{% extends 'base.html.twig' %}
{% block content %}
Inicio
    <a href="">Nueva</a>
    <a href="#">Editar</a>
    <a href="">Borrar</a>
    <br>
    {% if app.user %}
        <p>{{ app.user }}</p>
    {% else %}
        <a href="">Login</a>
        <a href="">Registro</a>
    {% endif %}

    {% include 'entradas.html.twig' %}
{% endblock %}